
<div class="container">
  <h1>Questions</h1>
  <div class="col-md-12 drill-group-spacing">
    <div class="drill-group">
      <div class="col-sm-2">
        <%= image_tag 'logo/ruby.png', class:"" %>
      </div>
      <div class="col-sm-8">
        <h3>Ruby Extreme Question</h3>
        <p>Here you will learn ruby on rails</p>
        <p>Points: 50</p>
      </div>

      <div class="col-sm-2">
        <button type="button" class="btn btn-default red-button top-button-margin">Enter</button>
      </div>
    </div>
  </div>

  <div class="col-md-12 drill-group-spacing">
    <div class="drill-group">
      <div class="col-sm-2">
        <%= image_tag 'logo/ruby.png', class:"" %>
      </div>
      <div class="col-sm-8">
        <h3>Ruby Extreme Question</h3>
        <p>Here you will learn ruby on rails</p>
        <p>Points: 50</p>
      </div>

      <div class="col-sm-2">
        <button type="button" class="btn btn-default red-button top-button-margin">Enter</button>
      </div>
    </div>
  </div>

  <div class="col-md-12 drill-group-spacing">
    <div class="drill-group">
      <div class="col-sm-2">
        <%= image_tag 'logo/ruby.png', class:"" %>
      </div>
      <div class="col-sm-8">
        <h3>Ruby Extreme Question</h3>
        <p>Here you will learn ruby on rails</p>
        <p>Points: 50</p>
      </div>

      <div class="col-sm-2">
        <button type="button" class="btn btn-default red-button top-button-margin">Enter</button>
      </div>
    </div>
  </div>

  <div class="col-md-12 drill-group-spacing">
    <div class="drill-group">
      <div class="col-sm-2">
        <%= image_tag 'logo/ruby.png', class:"" %>
      </div>
      <div class="col-sm-8">
        <h3>Ruby Extreme Question</h3>
        <p>Here you will learn ruby on rails</p>
        <p>Points: 50</p>
      </div>

      <div class="col-sm-2">
        <button type="button" class="btn btn-default red-button top-button-margin">Enter</button>
      </div>
    </div>
  </div>

</div>
