<h1>Code Drillz Registration Pending Approval</h1>
<p>Hello <%= @user.first_name.capitalize %>, thank you for registering at Code Drillz! You will be notified when your account is approved. Thanks for your patience.</p>
<p>Click <%= link_to "here", @url %> to return to the site.</p>
<p>Regards,</p>
<p>Code Drillz Team</p>
