
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

  </head>
  <body>

    <div class="background-img">
      &nbsp;  &nbsp;  &nbsp;

      <div class="container">
        <div class="landing-text">
          <h1> Code Drillz </h1>
          <h4> THE RIGHT WAY TO CODE </h4>
          <button> GET STARTED </button>
        </div>

      </div>

    </div>


</body>
</html>

<center>
<h2> SIGN UP FOR THE CHALLENGE </h2>

<div class="sign-up-container">

  <div class="">
    <%= render 'users/form' %>
  </div>

</div>
<br><br>
</center>

<%= link_to 'drills', new_drill_group_path %>
