<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Code Drillz</title>
  </head>
  <body>

    <div class="background-img">
      &nbsp;  &nbsp;  &nbsp;

      <div class="container">
        <div class="landing-text">
          <h1> Code Drillz </h1>
          <p> THE RIGHT WAY TO CODE </p>
          <button> GET STARTED </button>
        </div>

      </div>

    </div>


</body>
</html>
