// Place all the styles related to the drill_groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-drill-group {
  width: 85%;
  margin-left: 19%;
}


.h3 {
  display:flex;
  justify-content: space-between;
  width: 60%;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 300 !important;
  font-size:12px !important;
  letter-spacing: 1px !important;
  text-decoration: none;
}

.add-drill-category-field {
  width: 60%;
  height: 10%;;
}

.add-drill-description-field {
  width: 60%;
  height: 90px;
}

.add-drill-field {
  display:inline-block;
  color: #000000;
  padding-bottom: 50px;
  width: 60%;
}

.drill-h2 {
    display:flex;
    width: 100%;
    font-size:26px !important;
}

.drill-group {
  background-color: white;
  box-sizing: border-box;
  padding-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 4.5em;
  box-shadow: 3px 3px 15px #a9a9a9;
  overflow: auto;
}

.drill-group-spacing{
  margin: 1em 0;
}

.drill-group p {
  color: #6d6d6d;

}
